@mixin sectionCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
}

.first_section {
  @include sectionCenter;
    h1 {
      font-weight: 700;
      font-size: 32px;
      text-align: center;
    };
    p {
      font-size: 20px;
      text-align: center;
      font-weight: 500;
      font-style: italic;
  }
}